## Transformando cadenas

In [11]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highes daylight temperature of the Moon is 127 C."""

In [12]:
text_part = text.split('.')
text_part

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highes daylight temperature of the Moon is 127 C',
 '']

In [13]:
palabras_clave = ["average", "temperature", "distance"]

In [14]:
for sentence in text_part:
    for palabras_clave in text_part:
        if palabras_clave in sentence:
            print(sentence)
            break

Interesting facts about the Moon
 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth

On average, the Moon moves 4cm away from the Earth every year
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highes daylight temperature of the Moon is 127 C

In [15]:
for sentence in text_part:
    for palabras_clave in palabras_clave:
        if palabras_clave in sentence:
            print(sentence.replace('C, Celcius'))
            break

## Formateando cadenas

In [21]:
planeta = 'Tierra '
gravedad  = 0.00162
nombre = ' Luna '

In [22]:
titulo = f'Gravead en {nombre}'

In [23]:
hechos = f"""{'-'*80}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad*1000} m/s2
"""

In [24]:
template = f"""{titulo.title()}
{hechos}
"""
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en  Luna : 1.6199999999999999 m/s2

In [25]:
planeta = 'Tierra'
gravedad = 0.00162
nombre = 'Luna'

In [26]:
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en  Luna : 1.6199999999999999 m/s2

In [28]:
new_template = """
Datos de gravedad en: {nombre}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""

In [29]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de gravedad en: Luna
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2